* {
        margin: 0%;
        padding: 0%;
    }
    
    .cabeçalho{
        background-image: linear-gradient(rgb(255, 205, 248), #c61add);
        align-items: center;
    }
    
    .cabeçalho_imagem{
        width: 10%;
        margin: 3%;
        padding: 3%;
    }
    
    .cabeçalho_titulo1{
        font-size: 30px;
        font-family:Arial, Helvetica, sans-serif;
        margin: 3%;
        padding: 3%;
    }
    
   .texto-apresentacao{
        font-size: 30px;
        font-family:Arial, Helvetica, sans-serif;
        margin: 3%;
        padding: 3%;
    }

   .texto-apresentaçao{
        font-size: 30px;
        font-family:Arial, Helvetica, sans-serif;
        margin: 3%;
        padding: 3%;
    }

    .cabeçalho_lista_item{
        margin: 0px 0px 0px 0px;
        font-size: 30px;
        margin: 3%;
        padding: 3%;
    }
    
    .apresentaçao_trabalho{
        background-image: linear-gradient(rgb(255, 205, 248), #c61add);
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 3%;
        padding: 3%; 
    }
    
    .titulo_apresentaçao_trabalho{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 3%;
        padding: 3%
    }

    .texto-segundo{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 3%;
        padding: 3%;
    }
     
    .pimenta grupo.jpeg{
        width: 3%
        margin: 3%;
        padding: 3%;
    }
        
    .cabeçalho{
        background-color:( rgb(249, 205, 255), #c61add);
        color: rgba(49, 29, 29, 0.966);
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 3%;
        padding: 3%;
    }
        
    .cabeçalho_imagem{
        width: 10%;
        margin: 3%;
        padding: 3%;
    }

    .cabeçalho_titulo2{
        background-image: linear-gradient(rgb(255, 205, 248), #c61add);
        align-items: center;
    }

    .pimentagrupo.jpeg{
        width: 3%
        margin: 3%;
        padding: 3%;
    }
        
    .cabeçalho_lista_item{
        margin: 0px 0px 0px 0px;
        font-size: 30px;
    }
        
    .apresentaçao_trabalho{
        background-image: linear-gradient(rgb(255, 205, 248), #c61add);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px 0;
    }
    .texto-segundo{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
        
    .titulo_apresentaçao_trabalho{
        font-size: 30px;
    }
        
    .imagem_arvore{
        width: 10%;
    }
        
    .cabeçaho_titulo{
        font-size: 30px;
    }
    .texto-apresentacao{
        font-size: 30px;
    }

    .IMG-20230625-WA0057.jpg{
        width: 10%;
    }

    .texto-apresentacao{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 3%;
        padding: 3%;
    }

    .IMG-20230625-WA0049.jpg{
        width: 10%;
    }
