* {
    margin: 0%;
    padding: 0%;
    }
    
    .cabeçalho{
    background-color: rgb(249, 205, 255);
    color: rgb(19, 16, 16);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    }
    
    .cabeçalho_imagem{
    width: 17%;
    }
    
    .cabeçalho_titulo{
    font-size: 70px;
    }
    
    .cabeçalho_lista_item{
    margin: 40px 0px 40px 0px;
    font-size: 70px;
    }
    
    .apresentaçao_trabalho{
    background-image: linear-gradient(rgb(255, 205, 248), #c61add);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    }
    
    .titulo_apresentaçao_trabalho{
    font-size: 40px;
    }
    
    .imagem_arvore{
    width: 15%;
    }
    * {
        margin: 0%;
        padding: 0%;
        }
        
        .cabeçalho{
        background-color: rgb(249, 205, 255);
        color: rgba(49, 29, 29, 0.966);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
        }
        
        .cabeçalho_imagem{
        width: 12%;
        }
        
        .cabeçalho_titulo{
        font-size: 50px;
        }
        
        .cabeçalho_lista_item{
        margin: 25px 0px 25px 0px;
        font-size: 30px;
        }
        
        .apresentaçao_trabalho{
        background-image: linear-gradient(rgb(255, 205, 248), #c61add);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
        }
        
        .titulo_apresentaçao_trabalho{
        font-size: 30px;
        }
        
        .imagem_arvore{
        width: 15%;
        }